body {
    width: 700px;
}

p , li, h1{
    font-family: 'Ubuntu Condensed', sans-serif;
}

p, li {
    font-size: 15px;
}

h1 {
    font-size: 18px;
}

a {
    text-decoration: none;
    border-bottom:1px dotted;
    text-shadow: #ddd 1px 0px 1px;
}

a:hover {
    border-bottom: none;
}

section.stats ul {
    list-style-type: none;
}

footer {
    padding-top: 10px;
}

footer p , footer a {
    font-size: 13px;
    text-align: right;
    color: #aaa;
}

element.style {
        width: 100%;
}

#languages p.bar {
    background-color: #15565E;
    border-radius: 4px;
    color: #FFFFFF;
    display: block;
    min-width: 20px;
    padding: 3px;
    text-decoration: none;
    box-shadow: 3px 3px 8px #888;
}


* {
    margin: 2px;
    padding: 1px;
}
